<!DOCTYPE html>
<html>
<head>
    <title>Administración</title>
    <link rel="stylesheet" href="/stylesheets/frecuenciagamer.css">
</head>
<body>
    <div class="content">
        <h1>Administración</h1>
        <ul>
            <li><a href="/admin/noticias">Noticias</a></li>
            <li><a href="/admin/reviews">Reviews</a></li>
            <li><a href="/admin/retro">Retro</a></li>
            <li><a href="/admin/productos">Productos</a></li>
        </ul>

        <a href="/admin/logout" class="btn">Logout</a> 
    </div>
</body>
</html>
