.retro-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.retro-title {
  font-size: 2.5rem;
  color: #107C10;
  margin-bottom: 40px;
  text-align: center;
}

.retro-item {
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.retro-item-title {
  font-size: 1.5rem;
  color: #107C10;
  margin-bottom: 10px;
}

.retro-item-img {
  width: 100%;
  height: auto;
  max-width: 600px; /* Ajusta esto según el tamaño que prefieras */
  margin-bottom: 15px;
  object-fit: cover;
  border-radius: 10px;
}

.retro-item-text {
  font-size: 1.2rem;
  color: #333;
  text-align: justify;
}
